.iPage {
	@apply w-full h-full;
	@apply overflow-hidden;
	@apply box-border bg-white dark:bg-black;
	@apply absolute;
}

/* page-container */

.pageContainer {
	@apply w-full h-full;
	@apply overflow-x-hidden overflow-y-auto;
}

@supports selector(::-webkit-scrollbar) {
	.pageContainer::-webkit-scrollbar {
		width: 4px;
	}
}
@supports selector(::-webkit-scrollbar) {
	.pageContainer::-webkit-scrollbar-thumb {
		@apply bg-[var(--scrollbar-color)];
		border-radius: 99px;
	}
}
@supports selector(::-webkit-scrollbar) {
	.pageContainer::-webkit-scrollbar-track {
		background: transparent;
	}
}

/* page-body */

.pageBody {
	padding: 0 calc(16px + var(--i-inset-right))
		calc(var(--i-bottom-menu-height) + var(--i-inset-bottom))
		calc(16px + var(--i-inset-left));
	display: block;

	@apply flex flex-col gap-4;
}

/* page-header */

.pageHeader {
	/* has(> .titlebar-default) */
	padding-top: calc(var(--i-inset-top) + var(--i-top-menu-height));
	display: block;
}

[data-titlebar='titled'] .pageHeader {
	padding-top: 0px;
}

[data-titlebar='titled'] .pageHeader .headerTitleContainer {
	/* height: calc(var(--i-inset-top) + var(--i-top-menu-height) + 34px + 11px); */
	height: calc(
		var(--i-inset-top) + var(--i-top-menu-height) + 34px + 11px + 11px
	);
	padding: 3px calc(16px + var(--i-inset-left)) 8px
		calc(16px + var(--i-inset-right));
	display: flex;
	align-items: flex-end;
}

[data-titlebar='titled'] .pageHeader .headerTitle {
	font-size: 34px;
	font-weight: 700;
	transform-origin: left bottom;
}

/***/
/***/
.headerTitle {
	line-height: initial;
}
