@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-rgb: 255, 255, 255;

	/* defaults */
	--title-bar-background: rgba(255, 255, 255, 0.75);
	--scrollbar-color: rgba(60, 60, 67, 0.3);

	/* titlebar background */
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;

	/* region colors */
	--i-red: rgb(255, 59, 48);
	--i-orange: rgb(255, 149, 0);
	--i-yellow: rgb(255, 204, 0);
	--i-green: rgb(52, 199, 89);
	--i-mint: rgb(0, 199, 190);
	--i-teal: rgb(48, 176, 199);
	--i-cyan: rgb(50, 173, 230);
	--i-blue: rgb(0, 122, 255);
	--i-indigo: rgb(88, 86, 214);
	--i-purple: rgb(175, 82, 222);
	--i-pink: rgb(255, 45, 85);
	--i-brown: rgb(162, 132, 94);
	--i-black: rgb(0, 0, 0);
	--i-grey: rgb(142, 142, 147);
	--i-grey-2: rgb(174, 174, 178);
	--i-grey-3: rgb(199, 199, 204);
	--i-grey-4: rgb(209, 209, 214);
	--i-grey-5: rgb(229, 229, 234);
	--i-grey-6: rgb(242, 242, 247);
	--i-white: rgb(255, 255, 255);
	--i-bg-1: rgb(255, 255, 255);
	--i-bg-2: rgb(242, 242, 247);
	--i-bg-3: rgb(255, 255, 255);
	--i-bg-4: rgb(230, 229, 235);
	--i-text-1: rgb(0, 0, 0);
	--i-text-2: rgba(60, 60, 67, 0.6);
	--i-text-3: rgba(60, 60, 67, 0.3);
	--i-text-4: rgba(60, 60, 67, 0.18);
	--i-fill-1: rgba(120, 120, 128, 0.2);
	--i-fill-2: rgba(120, 120, 128, 0.16);
	--i-fill-3: rgba(118, 118, 128, 0.12);
	--i-fill-4: rgba(116, 116, 128, 0.08);
	--i-separator: rgba(60, 60, 67, 0.36);
	--i-separator-opaque: rgb(198, 198, 200);
	--i-separator-menu: rgba(0, 0, 0, 0.3);
	--i-statusbar-fill: linear-gradient(
		0deg,
		transparent 0%,
		rgb(100, 100, 100) 100%
	);
	/* endregion colors */
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-rgb: 0, 0, 0;

		/* defaults */
		--title-bar-background: rgba(0, 0, 0, 0.75);
		--scrollbar-color: rgba(235, 235, 245, 0.3);

		/* titlebar background */
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;

		/* region colors */
		--i-red: rgb(255, 69, 58);
		--i-orange: rgb(255, 159, 10);
		--i-yellow: rgb(255, 214, 110);
		--i-green: rgb(48, 209, 88);
		--i-mint: rgb(99, 230, 226);
		--i-teal: rgb(64, 203, 224);
		--i-cyan: rgb(100, 210, 255);
		--i-blue: rgb(10, 132, 255);
		--i-indigo: rgb(94, 92, 230);
		--i-purple: rgb(191, 90, 242);
		--i-pink: rgb(255, 55, 95);
		--i-brown: rgb(172, 142, 104);
		--i-black: rgb(0, 0, 0);
		--i-grey: rgb(142, 142, 147);
		--i-grey-2: rgb(99, 99, 102);
		--i-grey-3: rgb(72, 72, 74);
		--i-grey-4: rgb(58, 58, 60);
		--i-grey-5: rgb(44, 44, 46);
		--i-grey-6: rgb(28, 28, 30);
		--i-white: rgb(255, 255, 255);
		--i-bg-1: rgb(0, 0, 0);
		--i-bg-2: rgb(28, 28, 30);
		--i-bg-3: rgb(44, 44, 46);
		--i-bg-4: rgb(58, 58, 60);
		--i-text-1: rgb(255, 255, 255);
		--i-text-2: rgba(235, 235, 245, 0.6);
		--i-text-3: rgba(235, 235, 245, 0.3);
		--i-text-4: rgba(235, 235, 245, 0.16);
		--i-fill-1: rgba(120, 120, 128, 0.36);
		--i-fill-2: rgba(120, 120, 128, 0.32);
		--i-fill-3: rgba(118, 118, 128, 0.24);
		--i-fill-4: rgba(116, 116, 128, 0.18);
		--i-separator: rgba(84, 84, 88, 0.65);
		--i-separator-opaque: rgb(56, 56, 58);
		--i-separator-menu: rgba(255, 255, 255, 0.15);
		--i-statusbar-fill: transparent;
		/* endregion colors */
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
	/* @apply text-base; */
	/* @apply text-sm; */
	@apply text-global;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Apple Color Emoji,
		SF Pro,
		SF Pro Icons,
		Helvetica Neue,
		Helvetica,
		Arial,
		sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/* CUSTOM */
html,
body {
	@apply min-h-screen;
}

/* SF Pro */
@font-face {
	font-family: 'SF Pro';
	font-weight: 300;
	font-style: 'italic';
	src: url('../public/assets/fonts/SFPro/SFProText-LightItalic.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 300;
	font-style: normal;
	src: url('../public/assets/fonts/SFPro/SFProText-Light.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 400;
	font-style: 'italic';
	src: url('../public/assets/fonts/SFPro/SFProText-RegularItalic.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 400;
	font-style: normal;
	src: url('../public/assets/fonts/SFPro/SFProText-Regular.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 500;
	font-style: 'italic';
	src: url('../public/assets/fonts/SFPro/SFProText-MediumItalic.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 500;
	font-style: normal;
	src: url('../public/assets/fonts/SFPro/SFProText-Medium.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 600;
	font-style: 'italic';
	src: url('../public/assets/fonts/SFPro/SFProText-SemiboldItalic.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 600;
	font-style: normal;
	src: url('../public/assets/fonts/SFPro/SFProText-Semibold.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 700;
	font-style: 'italic';
	src: url('../public/assets/fonts/SFPro/SFProText-BoldItalic.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 700;
	font-style: normal;
	src: url('../public/assets/fonts/SFPro/SFProText-Bold.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 900;
	font-style: 'italic';
	src: url('../public/assets/fonts/SFPro/SFProText-HeavyItalic.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 900;
	font-style: normal;
	src: url('../public/assets/fonts/SFPro/SFProText-Heavy.ttf');
}

/* - */
.i-material-chrome {
	background: rgba(0, 0, 0, 0.75);
	background: rgba(255, 255, 255, 0.75);
	backdrop-filter: blur(25px);
}
