@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-rgb: 255, 255, 255;

	/* defaults */
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-rgb: 0, 0, 0;

		/* defaults */
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
	/* @apply text-base; */
	/* @apply text-sm; */
	@apply !text-global;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Apple Color Emoji,
		SF Pro,
		SF Pro Icons,
		Helvetica Neue,
		Helvetica,
		Arial,
		sans-serif !important;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/* CUSTOM */
html,
body {
	/* @apply min-h-screen; */
	@apply text-items-primary dark:text-items-primary-dark;
}
a {
	@apply text-links dark:text-links-dark;
}

/* SF Pro */
@font-face {
	font-family: 'SF Pro';
	font-weight: 300;
	font-style: 'italic';
	src: url('../public/assets/fonts/SFPro/SFProText-LightItalic.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 300;
	font-style: normal;
	src: url('../public/assets/fonts/SFPro/SFProText-Light.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 400;
	font-style: 'italic';
	src: url('../public/assets/fonts/SFPro/SFProText-RegularItalic.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 400;
	font-style: normal;
	src: url('../public/assets/fonts/SFPro/SFProText-Regular.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 500;
	font-style: 'italic';
	src: url('../public/assets/fonts/SFPro/SFProText-MediumItalic.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 500;
	font-style: normal;
	src: url('../public/assets/fonts/SFPro/SFProText-Medium.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 600;
	font-style: 'italic';
	src: url('../public/assets/fonts/SFPro/SFProText-SemiboldItalic.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 600;
	font-style: normal;
	src: url('../public/assets/fonts/SFPro/SFProText-Semibold.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 700;
	font-style: 'italic';
	src: url('../public/assets/fonts/SFPro/SFProText-BoldItalic.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 700;
	font-style: normal;
	src: url('../public/assets/fonts/SFPro/SFProText-Bold.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 900;
	font-style: 'italic';
	src: url('../public/assets/fonts/SFPro/SFProText-HeavyItalic.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 900;
	font-style: normal;
	src: url('../public/assets/fonts/SFPro/SFProText-Heavy.ttf');
}

/* TODO : MOVE */
.page-with-navbar-large-collapsed {
	--f7-navbar-large-collapse-progress: 1;
}
.page:not(.page-with-navbar-large-collapsed)
/* :not(
		.with-appstore-searchbar-enabled
	) */
	.subnavbar {
	-webkit-backdrop-filter: blur(0px) !important;
	backdrop-filter: blur(0px) !important;
	background-color: transparent !important;
	--f7-bars-border-color: transparent;
}
