@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-rgb: 255, 255, 255;

	/* defaults */
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-rgb: 0, 0, 0;

		/* defaults */
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
	/* @apply text-base; */
	/* @apply text-sm; */
	@apply !text-global;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Apple Color Emoji,
		SF Pro,
		SF Pro Icons,
		Helvetica Neue,
		Helvetica,
		Arial,
		sans-serif !important;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/* CUSTOM */
html,
body {
	/* @apply min-h-screen; */
	@apply text-items-primary dark:text-items-primary-dark;
}
a {
	@apply text-links dark:text-links-dark;
}

/* SF Pro */
@font-face {
	font-family: 'SF Pro';
	font-weight: 300;
	font-style: 'italic';
	src: url('../public/assets/fonts/SFPro/SFProText-LightItalic.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 300;
	font-style: normal;
	src: url('../public/assets/fonts/SFPro/SFProText-Light.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 400;
	font-style: 'italic';
	src: url('../public/assets/fonts/SFPro/SFProText-RegularItalic.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 400;
	font-style: normal;
	src: url('../public/assets/fonts/SFPro/SFProText-Regular.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 500;
	font-style: 'italic';
	src: url('../public/assets/fonts/SFPro/SFProText-MediumItalic.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 500;
	font-style: normal;
	src: url('../public/assets/fonts/SFPro/SFProText-Medium.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 600;
	font-style: 'italic';
	src: url('../public/assets/fonts/SFPro/SFProText-SemiboldItalic.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 600;
	font-style: normal;
	src: url('../public/assets/fonts/SFPro/SFProText-Semibold.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 700;
	font-style: 'italic';
	src: url('../public/assets/fonts/SFPro/SFProText-BoldItalic.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 700;
	font-style: normal;
	src: url('../public/assets/fonts/SFPro/SFProText-Bold.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 900;
	font-style: 'italic';
	src: url('../public/assets/fonts/SFPro/SFProText-HeavyItalic.ttf');
}
@font-face {
	font-family: 'SF Pro';
	font-weight: 900;
	font-style: normal;
	src: url('../public/assets/fonts/SFPro/SFProText-Heavy.ttf');
}

/* PAGE */
.page-with-navbar-large-collapsed {
	--f7-navbar-large-collapse-progress: 1;
}

/* TODO : xxx */

.subnavbar .searchbar {
	--f7-safe-area-left: 0px;
	--f7-safe-area-right: 0px;
	width: 100% !important;
}
.page:not(.page-with-navbar-large-collapsed):not(
		.with-appstore-searchbar-enabled
	)
	.subnavbar {
	-webkit-backdrop-filter: blur(0px) !important;
	backdrop-filter: blur(0px) !important;
	background-color: transparent !important;
	--f7-bars-border-color: transparent;
}

.navbar.with-appstore-searchbar-enabled {
	pointer-events: none;
	transform: translateY(calc(-1 * var(--f7-navbar-height)));
	--f7-navbar-border-color: transparent;
}

.navbar.with-appstore-searchbar-enabled .title,
.navbar.with-appstore-searchbar-enabled .title-large {
	opacity: 0 !important;
}

.navbar.with-appstore-searchbar-enabled .navbar-bg {
	opacity: 1 !important;
	transform: none !important;
	height: 100% !important;
}

.navbar.with-appstore-searchbar-enabled .navbar-bg,
.navbar.with-appstore-searchbar-enabled .title,
.navbar.with-appstore-searchbar-enabled .title-large,
.navbar.with-appstore-searchbar-enabled .title-large-text {
	animation: none !important;
}

.page.with-appstore-searchbar-enabled .appstore-page-title {
	opacity: 0;
}

.page.with-appstore-searchbar-enabled .subnavbar {
	top: 0 !important;
}

.page.with-appstore-searchbar-enabled .page-content {
	transform: translateY(
		calc(
			-1 * (var(--f7-navbar-height) + var(--f7-navbar-large-title-height))
		)
	);
	height: calc(
		100% + var(--f7-navbar-height) + var(--f7-navbar-large-title-height)
	);
}

.with-appstore-searchbar-closing.navbar,
.with-appstore-searchbar-closing.navbar .navbar-bg,
.with-appstore-searchbar-closing.navbar .navbar-inner .title,
.with-appstore-searchbar-closing.navbar .navbar-inner .title-large,
.with-appstore-searchbar-enabled.navbar,
.with-appstore-searchbar-enabled.navbar .navbar-bg,
.with-appstore-searchbar-enabled.navbar .navbar-inner .title,
.with-appstore-searchbar-enabled.navbar .navbar-inner .title-large {
	transition-duration: 0.3s;
	transition-property: opacity, transform;
}

.with-appstore-searchbar-closing.page .appstore-page-title,
.with-appstore-searchbar-closing.page .page-content,
.with-appstore-searchbar-enabled.page .appstore-page-title,
.with-appstore-searchbar-enabled.page .page-content {
	transition-duration: 0.3s;
	transition-property: opacity, transform;
}

.appstore-search-page .preloader {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* TODO : MOVE */
.appstore-page-large-navbar:not(.router-navbar-transition-from-large)
	.title-large {
	opacity: 0;
	pointer-events: none;
}

/* subnavbar */

.subnavbar.custom[data-enabled='1']:after {
	background-color: transparent;
}
