/* .section {
}
.sectionContent {
} */
.sectionHeader {
	@apply mx-4 mb-3;
	@apply mx-safe;
}
.sectionTitle {
	@apply font-bold;
}
h1.sectionTitle {
	@apply text-4xl font-bold;
}
h2.sectionTitle {
	@apply text-xl font-bold;
}
h3.sectionTitle {
	@apply text-lg font-bold;
}
.sectionItems {
	@apply w-full pb-8;
	@apply overflow-x-hidden;
}

/** @todo : songs.max results : 56px x n =>
 * {
    max-height: 560px;
    overflow-y: auto;
    scrollbar-width: none;
} */
