.container {
	@apply table-row;
	@apply align-middle;
	@apply h-14;
}
.container > * {
	@apply table-cell;
	@apply align-middle;
}
/* .artworkNameCell {
} */
.artworkNameContainer {
	/* @apply flex; */
	@apply grid;
	grid-template-areas: 'song-artwork song-rank song-icon song-name';
	grid-template-columns: auto auto auto 1fr;
	@apply h-[46px];
	/* @apply pl-4; */
}
.container:not(.gridContainer) .artworkNameContainer {
	@apply pl-4;
}
.artworkContainer {
	/* flex  basis-auto shrink-0 w-12 h-12 */
	@apply grid items-center;
	grid-area: song-artwork;
	grid-template-areas: 'song-index';
	@apply mr-3;
}

.artwork {
	@apply h-10 w-auto rounded-[5px];
	grid-area: song-index;
}

.songNameContainer {
	@apply flex flex-col justify-center truncate;
	/* @apply p-2; */
	@apply pr-2;
}

.songName {
	@apply truncate;
}
.songBadge::before {
	content: ' ';
	/* @apply inline-flex; */
}

.songNameArtist,
.songNameArtist > a {
	@apply text-items-secondary dark:text-items-secondary-dark;
}

.songNameArtist {
	@apply truncate sm:hidden;
}

.artistNameCell {
	@apply max-sm:hidden truncate pr-3;
}

.artistName {
	@apply truncate p-1;
}

.albumNameCell {
	@apply max-md:hidden truncate pr-4;
}
.albumName {
	@apply truncate p-1;
}

.durationCell {
	@apply pr-4;
}
.durationContainer {
	/* @apply inline-grid; */
	@apply flex items-center justify-end;
}

.trackDuration {
	@apply max-[420px]:hidden;
}
.songActions {
	@apply ml-2;
}

/* .container:not(.gridContainer) .artworkNameCell { */
/* @apply w-[42%]; */
/* @apply w-64; */
/* } */
/* .container:not(.gridContainer) .artistNameCell { */
/* @apply w-[29%]; */
/* @apply w-12; */
/* min-width: 29rem; */
/* @apply w-64; */
/* } */
/* .container:not(.gridContainer) .albumNameCell { */
/* @apply w-[29%]; */
/* @apply w-[29%]; */
/* min-width: 29rem; */
/* @apply w-64; */
/* } */
/* .container:not(.gridContainer) .durationCell { */
/* @apply w-[141px]; */
/* } */

/* region general */
.artistName > a,
.albumName > a {
	@apply hover:md:underline;
}
/* endregion general */

/* region list */
.container:not(.gridContainer) {
	@apply w-full max-w-full;
}

.container:not(.gridContainer):hover {
	@apply bg-white bg-opacity-[0.06];
}
.container:not(.gridContainer).selected {
	@apply bg-[#a60012] bg-opacity-100;
}

.container:not(.gridContainer) .artworkNameCell {
	@apply rounded-l-md;
}

.container:not(.gridContainer) .durationCell {
	@apply rounded-r-md;
}
/* endregion list */

/* region grid */

.container.gridContainer {
	@apply flex snap-start items-center;
	@apply m-0 p-0;
	@apply -m-4 p-4;
	@apply h-auto;
}

.container.gridContainer > * {
	@apply flex;
}

.container.gridContainer .gridWrapper {
	/* @apply grid w-full; */
	/* grid-template-columns: auto auto 1fr auto; */
	/* @apply py-2 pr-3.5; */
	/* @apply py-2 px-3.5; */
	@apply flex w-full;
}

/* .container.gridContainer .artworkNameCell { */
/* @apply mr-3; */
/* } */

.container.gridContainer .artworkNameContainer {
	@apply pr-2 py-2 h-auto;
}

.container.gridContainer .songNameArtist {
	@apply block;
}

.container.gridContainer .durationCell {
	@apply ml-auto flex;
}

.container.gridContainer .artistNameCell,
.container.gridContainer .albumNameCell,
.container.gridContainer .trackDuration {
	@apply hidden;
}

.container.gridContainer.last {
	@apply max-sm:-mr-8 md:pr-4;
}

/* endregion grid */
