.artistsSubnavbar {
	--f7-searchbar-in-page-content-input-border-radius: 10px;
	--f7-searchbar-inner-padding-left: 12px;
	--f7-searchbar-inner-padding-right: 12px;
	--f7-searchbar-input-height: 36px;
	position: -webkit-sticky;
	position: sticky;
	top: calc(-1 * var(--f7-navbar-large-title-height)) !important;
	transform: translateY(0) !important;
	transition-duration: 0.3s;
	transition-property:
		background-color,
		transform,
		top,
		-webkit-backdrop-filter !important;
	transition-property: background-color, backdrop-filter, transform, top !important;
	transition-property:
		background-color,
		backdrop-filter,
		transform,
		top,
		-webkit-backdrop-filter !important;
}
.artistsSearchbar {
	--f7-safe-area-left: 0px;
	--f7-safe-area-right: 0px;
	width: 100% !important;
}

.page:not(.page-with-navbar-large-collapsed) .artistsSubnavbar {
	-webkit-backdrop-filter: blur(0px) !important;
	backdrop-filter: blur(0px) !important;
	background-color: transparent !important;
	--f7-bars-border-color: transparent;
}
